.autour-ff {
  font-family: "Autour One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fredoka {
  font-family: "Fredoka One", sans-serif;
  font-weight: 200;
}

html, body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url("assets/tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg");
  background-size: auto;
}

canvas {
  margin: 1rem;
  display: block;
  border: 5px solid black;
  border-radius: 8px;
}

h1.title {
  margin-top: 5rem;
  font-size: 5rem;
  color: white;
  
  text-shadow: black 5px 5px 15px;
}

button {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;

  border: none;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #a5a5ac;
}

#winner-announcement {
  height: 20vh;
  min-height: 140px;
  width: 40vw;
  min-width: 215px;
  max-width: 400px;
  top: 45vh;
  position: fixed;
  z-index: 1;
  
  font-size: 2rem;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  
  background: #5e60a5;

  border-radius: 25px;

}

.text {
  margin: -10px;
}

.winner-text {
  padding-bottom: 10px;
  font-weight: 300;
}

.winner-text::before {
  position: absolute;
  content: url("assets/stroke.png ");
  top: 73%;
  left: 45%;
}

#winner {
  font-size: 6rem;
  font-weight: 500;
}

.hide {
  display: none !important;
}